.ql-color-\#F24343 {
  color: #f24343;
}
.ql-color-\#EFE60B {
  color: #efe60b;
}
.ql-color-\#717171 {
  color: #717171;
}
.ql-color-\#0DAF14 {
  color: #0daf14;
}
.ql-color-\#26B9E5 {
  color: #26b9e5;
}
.ql-color-\#000000 {
  color: #000000;
}
