html {
  overflow: hidden;
}
body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

button,
input,
label,
div:focus {
  outline: 0;
}

label input {
  margin: auto;
  cursor: pointer;
}

body, html, input, div {
  font-family: rtlfont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}